.links {
  display: block;
  margin: 1rem auto;
  max-width: 500px;
  text-align: center;
}

.links a {
  margin: 0 20px;
  display: inline-block;
  font-size: 12px;
  font-family: 'Noto Serif SC', serif;
  color: black;
}

.links a:hover {
  padding-bottom: 5px;
  border-bottom: black solid 1px;
}

.avatarSome {
  text-align: center;
  font-size: 12px;
  font-family: 'Noto Serif SC', serif;
}

.avatar {
  display: block;
  text-align: center;
}

.name {
  text-align: center;
}

.name a {
  color: inherit;
}
