.header {
  display: block;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 5px 0 rgb(0 0 0 / 4%), 0 10px 10px rgb(0 0 0 / 3%),
    0 1px 0 rgb(0 0 0 / 5%);
  font-size: 14px;
  font-family: 'Noto Serif SC', serif;
  font-weight: lighter;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.header img {
  margin: auto 0;
  padding-left: 10px;
}

.header ul {
  margin: 0;
  display: block;
  padding: 0;
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.header ul li {
  display: table;
  padding: 0 20px;
  height: 100%;
}

.header :global(a) {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
  height: 100%;
  width: 100%;
  color: var(--accents-2);
}

.header :global(a.active) {
  border-top: black solid 2px;
}

@media (max-width: 600px) {
  .header img {
    display: none;
  }
  .header ul {
    width: 100%;
    margin: 0 30px;
  }
}
