.header {
  display: block;
  padding: 0.9em 0;
  text-align: center;
  letter-spacing: -0.02em;
  background-color: #fff;
  font-size: 16px;
  position: fixed;
  width: 100%;
}

.header ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
}

.header h2 {
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  color: black;
  margin-right: 20px;
}

.header ul li {
  display: inline-block;
  margin: auto;
}

.header :global(a) {
  color: var(--geist-foreground);
  font-weight: 400;
}

.header :global(a.active) {
  color: #1d84fa;
  font-weight: 600;
}

@media (max-width: 600px) {
  .header h2 {
    display: none;
  }
}
