.layout {
  display: block;
  padding-top: 220px;
  min-height: 100vh;
  max-width: 600px;
  margin: auto;
}
.layout img {
  display: block;
  height: auto;
  margin: 0 auto;
}

.layout h1,
.layout h2 {
  text-align: center;
}

.homepage {
  display: block;
  max-width: 600px;
  min-height: 100vh;
  margin: auto;
}

.homepage p {
  display: block;
  padding: 180px 20px 1px 20px;
  max-width: 400px;
  margin: auto;
  font-size: 16px;
  font-family: 'Noto Serif SC', serif;
  text-indent: 2em;
}

@media print {
	header {
		display: none;
	}
	footer {
		display: none;
	}
}

@page {
	size: A4 protrait;
	margin: 2.54cm 3.17cm 2.54cm 3.17cm;
}
